.nav_logo_typo_main {
  font-size: 1.6em;
  font-family: var(--font-logo-brand);
  color: var(--white) !important;
  margin-left: 0.5em;
}

.nav_logo_typo_second {
  color: var(--yellow);
  font-size: 0.8em !important;
  font-family: var(--font-logo-secondary) !important;
}

.nav_link_typo {
  color: var(--white) !important;
  font-family: var(--font-primary);
  font-weight: 400;
  text-transform: uppercase;
}

.nav_link_typo:hover {
  color: var(--tangerine) !important;
  font-weight: 700;
  transition: ease-in-out 3ms;
}

.navigation_container {
  height: 60px;
  background-color: var(--theme-blue);
}
